.servicesArea {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
        
}
.servicesArea:first-child {
    padding-top: 120px;
}
.servicesArea:nth-last-child(1) {
    padding-bottom: 120px;
}

.serviceArea {
    width: 50%;
    padding-top: 0px;
    padding-bottom:  0px;
    padding-left: 10px;
    padding-right: 10px;
        
}
.svgContainer{
    margin-right: 30px;
    width: 180px;
    height: 180px;
}

h2 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 200;
}

.yellow {
    color: #F59B00;
}
.serviceText {
    font-size: 18px;
    font-weight: 100;
    line-height: 26px;
}

.botArea {

    background-color: #f3f3f3;
    width: 100%;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botBox {
    width: 80%;
    height: 400px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}
iframe {
    width: 100%;
    min-width: 400px;
     max-width: 600px;
    min-height: 400px;
}

#yourElement {
  -webkit-animation-duration: 1s;
-mos-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
      animation-iteration-count: 1;
}

.botCover {
    height: 120px;
    width: 100%;
    min-width: 400px;
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    
}
.b-agent-demo {
    background-color:aqua !important;
}
.server-response {
    background-color:aqua !important; 
}

#target{

}
.blur {
  -webkit-animation: blur 1.5s ease-in forwards;
  -moz-animation: blur 1.5s ease-in forwards;
  -ms-animation: blur 1.5s ease-in forwards;
  -o-animation: blur 1.5s ease-in forwards;
  animation: blur 1.5s ease-in forwards;
  -webkit-animation-delay: 0.5;
  -moz-animation-delay: 0.5;
  animation-delay: 0.5;
}
.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(100px);
    filter: blur(100px);
       opacity: 0;


  }
    100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
        opacity: 1;

  }
}
@-moz-keyframes blur {
  0% {
    -moz-filter: blur(100px);
    filter: blur(100px);
      opacity: 0;


  }
      100% {
    -moz-filter: blur(0px);
    filter: blur(0px); opacity: 1;

  }
}
@keyframes blur {
  0% {
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    filter: blur(100px);
      opacity: 0;


  }
      100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
           opacity: 1;

  }
}
.vl {
    border-right: 4px dashed #ededed;
    height: 60px;
    width: 28%;
        margin-top: -40px;
    margin-bottom: -40px;
}

.grey {
  -webkit-animation: grey 1s  infinite;
  -moz-animation: grey 1s  infinite;
  -ms-animation: grey 1s  infinite;
  -o-animation: grey 1s  infinite;
  animation: grey 1s  infinite;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  animation-delay: 0;
}
.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes grey {
  0% {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);


  }
    100% {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
        80% {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}
@-moz-keyframes grey {
  0% {
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);


  }
      80% {
    -moz-filter: grayscale(0);
    filter: grayscale(0);
  }
          100% {
    -moz-filter: grayscale(0);
    filter: grayscale(0);
  }
}
@keyframes grey {
  0% {
    -webkit-filter: grayscale(100%));
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }
      80% {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
  }
          100% {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
  }
}
.botHeader {
    font-size: 50px;
    text-align: center;
    font-weight: 200;
    margin-top: -70px;
    margin-bottom: 10px;
    display: absolute;
}
.smallText {
        font-size: 18px;
        font-weight: 100;
}
    